.DS_STORE
*.log
node_modules
dist
coverage
.idea/
.yarn-cache
build/environment/.env.production
build/environment/.env.staging
src/assets
src/helpers/newyork_zipcodes.js
src/helpers/counseling.js
src/helpers/patient.js
src/helpers/survey.js
src/helpers/provider.js
src/helpers/us_states.js
src/styles/components/doctorType
src/styles/components/routes/providers
src/routes/providers
src/routes/questionnaire
src/routes/treatments
src/routes/schedule
src/styles/components/survey
src/store/actions/pain.js
src/store/actions/patient.js
src/store/actions/patients.js
src/store/actions/questions.js
src/store/actions/providers.js
src/store/reducers/pain.js
src/store/reducers/patient.js
src/store/reducers/patients.js
src/store/reducers/questions.js
src/store/reducers/providers.js

