.component-card {
  display: block;
  margin: auto;

  .top-container {
    background-color: $md-grey-100;
    padding: 40px;

    .top-inner-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .header-container {
      display: flex;
      flex-direction: column;
      margin-bottom: auto;
      margin-left: 0;
      margin-top: auto;
      width: 100%;
    }

    .heading {
      color: $navy-blue;
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      margin-top: 10px;
      text-align: center;
    }

    .sub-text {
      color: $md-grey-900;
      font-size: 15px;
      font-weight: 300;
      text-align: center;
    }

    .image {
      height: 90px;
      width: auto;
    }
  }

  .card-container {
    background-color: $md-white-base;
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 80%;
  }

  .condition-title {
    font-weight: bold;
    margin: 10px;
  }

  .seperator {
    background-color: $md-grey-300;
    height: 1px;
    margin: 0 10px 10px;
  }

  .treatments-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 72%;
  }

  .treatments-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 980px) {
  .component-card {
    .top-container {
      padding: 70px !important;

      .header-container {
        margin-left: 50px !important;
        width: 60% !important;
      }

      .heading {
        font-size: 40px !important;
        line-height: 48px !important;
        margin-top: 0 !important;
        text-align: left !important;
      }

      .sub-text {
        font-size: 22px !important;
        text-align: left !important;
      }

      .image {
        height: 180px !important;
      }
    }

    .card-list {
      padding: 30px !important;
    }
  }
}
